
body {
  margin: 0;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Crimson Pro";
}
h2 {
  font-family: "Crimson Pro";
}
h3 {
  font-family: "Crimson Pro";
}
h4 {
  font-family: "Crimson Pro";
}

button {
  font-family: "Raleway";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #FFEDD6;
  color: #000000
}